[package]
name = "jiosaavn"
version = "0.1.0"
edition = "2021"
description = "A simple wrapper for JioSaavn API"
authors = ["Hemant Rajput <68769346+rajput-hemant@users.noreply.github.com>"]

[dependencies]
axum = "0.6.20"
reqwest = { version = "0.11.18", features = ["serde_json", "json"] }
serde = { version = "1.0.181", features = ["derive"] }
serde_json = "1.0.104"
shuttle-axum = "0.23.0"
shuttle-runtime = "0.23.0"
tokio = { version = "1.29.1", features = ["full"] }
tower-http = { version = "0.4.3", features = ["cors"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
